.frameChild {
  position: relative;
  border-radius: var(--br-13xl);
  width: 398px;
  height: 398px;
  object-fit: cover;
}
.typographyParent {
  position: relative;
  width: 121px;
  height: 28px;
}
.typographyContainer,
.typographyGroup {
  position: relative;
  width: 168px;
  height: 28px;
}
.typographyContainer {
  width: 192px;
}
.rectangleParent,
.spacerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.spacerParent {
  border-radius: var(--br-13xl);
  width: 398px;
  max-width: 398px;
}
.rectangleParent {
  position: absolute;
  top: 1073px;
  left: 16px;
}
