.frameChild {
  position: relative;
  width: 430px;
  height: 430px;
  object-fit: cover;
}
.buttonParent {
  position: absolute;
  top: 40px;
  left: 0;
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.typographyGroup {
  position: relative;
  width: 398px;
  height: 88px;
}
.groupParent {
  gap: var(--gap-9xs);
}
.groupParent,
.spacerParent,
.typographyParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typographyParent {
  position: absolute;
  top: 135px;
  left: 0;
  align-items: center;
}
