@font-face {
  font-family: "Nuance";
  font-weight: 800;
  src: url("./fonts/Nuance-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Nuance";
  font-weight: 700;
  src: url("./fonts/Nuance-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Nuance";
  font-weight: 600;
  src: url("./fonts/Nuance-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Nuance";
  font-weight: 500;
  src: url("./fonts/Nuance-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Nuance";
  font-weight: 400;
  src: url("./fonts/Nuance-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nuance";
  font-weight: 300;
  src: url("./fonts/Nuance-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Nuance";
  font-weight: 200;
  src: url("./fonts/Nuance-ExtraLight.woff2") format("woff2");
}

@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
